<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="ir.rezababakhani.weatherapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="32" android:targetSdkVersion="33" />
	<application android:label="Weather App" android:icon="@mipmap/appIcon" android:usesCleartextTraffic="true"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>